<html>
<head>
	<title></title>
</head>
<body>

<table width="50%" border="1" cellpadding="5" cellspacing="5">
	<tr>
		<th>欄位1</th>
		<th>欄位2</th>
		<th><strong>欄位3</strong></th>
		<th>欄位4</th>
	</tr>

	<tr>
		<td>100</td>
		<td>聯成電腦</td>
		<td colspan="2">9999999</td>
	</tr>
	<tr>
		<td>100</td>
		<td rowspan="2">聯成電腦</td>
		<td colspan="2">9999999</td>
	</tr>
	<tr>
		<td>100</td>
		<td colspan="2">7777777</td>
	</tr>
	<tr>
		<td colspan="4">
			<input type="submit" value="送出" />
		</td>
	</tr>
</table>

</body>
</html>